table {
    border-collapse: collapse;
    width: 80%;
    font-family: 'calibri';
    font-size: 16px;
    table-layout: fixed;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {background-color:#f5f5f5;}