<!--<p>
  list-item works!
</p>-->
<!--

  להצגת המערך בנקודות
<li>
  {{id}} - {{title}} - {{price}} - {{stock}}
</li>
-->

<table>
  <tr *ngIf="redcolor; else greencolor;" style="background-color:red;">
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{price}}</td>  
    <td>{{stock}}</td>
  </tr>

  <ng-template #greencolor>
    <tr style="background-color:green;">  
      <td>{{id}}</td>
      <td>{{title}}</td>
      <td>{{price}}</td>  
      <td>{{stock}}</td>
    </tr> 
  </ng-template>
</table>
