<!--<p>
  list works!
</p>
-->


<!--
להצגת הרשימה בתוך ליסט קומפוננט, מערך של פרודקטס.
<div>
    <ul>
      <list-item *ngFor = "let listItem of products" [data] = "listItem">
        הליסט שאחרי הדטה זה הליסט שאחרי המילה לט
        {{listItem.id}} - {{listItem.title}} - {{listItem.price}} - {{listItem.stock}}
      </list-item>
    </ul>
  </div>
-->

  <div>
    <table>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Price</th>
        <th>Stock</th>
      </tr>
    </table>
        <list-item *ngFor = "let listItem of products" [data]="listItem">    
        </list-item>
  </div>



